:root {

    --color-0:white;
    --color-1: rgb(114, 134, 211);
    --color-2: rgb(142, 167, 233);
    --color-3: rgb(229, 224, 255);
    --color-4: rgb(255, 242, 242);

    --color-aler: rgb(214, 19, 85);
    --color-background: rgba(142, 167, 233,0.15);

}