
@import "color.css";
@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    position: relative;
    
    justify-content: center;

}
.navLinks, .account, .showList li {
    list-style: none;
}
a, li {
    text-decoration: none;
    color: var(--color-4);
}
.navTitle {
    font-size: 2rem;;
}

.navBox {
    /* position: fixed; */
    width: 100%;
    font-weight: 600;
    font-size: 1.3rem;
    border-bottom: 1px solid var(--color-2);

}
.navBar, .navLinks {
    display: flex;

}
.navBar {
    max-width: 1200px;
    justify-content: space-between;
    padding: 20px 50px;
    
}
.navLinks {
    column-gap: 25px;
}
.navLinks li:hover {
    border-bottom: 3px solid var(--color-4);
    transition: all 0.2s ease;
}

.navli, .account {
    display: flex;
    align-items: center;
}
.navli a{
    text-align: center;
}
.account {
    column-gap: 20px;
}
li#hamburger {
    height: 40px;
    width: 40px;
    background-image: url('../../svg/hamburger-menu-svgrepo-com.svg');
    background-size: contain;
}
.searchBoxAndContent {
    width: 100%;
}
.containerSearchAndNav {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.searchBox {
    width: 100%;
    position: relative;
    /* display: flex; */
    
    padding-top: 10%;
    justify-content: center;
    
}
.inputBox {
    width: 100%;
    display: flex;
    justify-content: center;
}
.showListBox {
    display: flex;
    justify-content: center;
}


.inputSearch {
    outline: none;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 25px;
    /* border: 2px solid var(--color-4); */
    padding-left: 20px;
    font-size: 1.5rem;
    color: var(--color-1);
    

}
.inputSearch:focus {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}
/* .inputSearch:focus .showList {
    display: block;
} */
.showListBox {
    width: 100%;
}
.showList {
    width: 50%;
    height: 100px;
    overflow: scroll;
    position: absolute;
    z-index: 10;
    display: none;
    background-color: var(--color-0);
    color: var(--color-1);
    border-radius: 0 0 5px 5px;
}
.showList li {
    padding: 10px 0px 10px 10%;
    border-bottom: 1px solid var(--color-2) ;
    text-decoration: none;
    color: var(--color-1);
}
.activeLi {
    background-color: var(--color-2);
}
.navSide {
    width: 40%;
    font-weight: 600;
    font-size: 1.3rem;
    
    background-color: var(--color-0);
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;


}
.navLinksSide li, .navSide ul li {
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 10px;
    
}
.navLinksSide li a, .navSide ul li {
    color: var(--color-1);
}
.bottomNav li {
    padding-bottom: 30%;
}
.bottomNav li:hover {
    cursor: pointer;
}
.navLinksSide li:hover {
    margin-left: 20px;
    transition: all 0.15s ease;
} 

.navLinksSide .navli svg, .navSide ul li svg {

    width: 25px;
    height: 25px;
}
.searchContent {
    padding-top: 5%;
}
.choiceDicBtn {
    position: relative;
    display: flex;
    column-gap: 5px;
    padding: 5px;
    
    
}
.choiceDicBtn .btnContent {
    outline: none;
    width: 100%;
    border: 2px solid var(--color-0);
    background-color: var(--color-1);
    color: var(--color-0);
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.1s ease;
    
}

.choiceDicBtn .btnContent:hover {
    background-color: var(--color-0);
    color: var(--color-1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.searchBoxAndContent {
    width: 100%;
    height: 100%;
}
.searchContent {
    display: none;
    height: 100%;
}
iframe, #divIframeSeach, #divIframeSeachO {
    /* display: none; */
    width: 100%;
    height: 100%;
}
.searchContent iframe {
    outline: none;
    border: none;
    padding-top: 10px;
    /* display: none; */
}

.active {
    background-color: var(--color-0);
    color: var(--color-1);
}
@media screen and (max-width: 700px) {

    .navBar {
        padding: 5px;
    }
    .navSide {
        position: absolute;
        right: 0;
        height: 100%;
        width: 50%;
        transition: all 0.1s ease;
    }
    .navLinks {
        display: none;
    }
    .inputSearch .showList {
        width: 80%;
    }
}
